@model IEnumerable<Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>

@Html.ActionLink("New", "New", "Customers", null,  new { @class= "btn btn-default my-3" })
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th> 
            <th>
                Membership
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name,"Details","Customers", new { id = item.Id}, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MembershipType.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Customers", new {id = item.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>
