@model NewCustomerViewModel

@{
    ViewData["Title"] = "NewCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>New Customer</h1>

<div class="col-5">
    @using (Html.BeginForm("CreateCustomer", "Customer"))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Customer.Name)
            @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Customer.Birthday)
            @Html.TextBoxFor(m => m.Customer.Birthday, new { @class = "form-control" })
        </div>
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(m => m.Customer.IsSubscribeToNewsletter) Subscribe to NewsLetter?
            </label>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Customer.MembershipTypeId)
            @Html.DropDownListFor(
               m => m.Customer.MembershipTypeId,
               new SelectList(Model.MembershipTypesList, "Id", "Name"),
               "Select Membership Type",
               new { @class = "form-control" }
           )
        </div>
    }
</div>

